@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap");

body {
  font-family: "Gemunu Libre", sans-serif;
  background-color: white;
  /* background-image: url(./heaven.jpg);
  position: relative;
  background-size: cover; */
}

#background2 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  background-image: url(./hell.jpg);
  z-index: -1;
  background-size: cover;
}

.GFG {
  /* background-color: #4caf50; Green */
  border: black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: 20px;
  font-size: 16px;
  float: right;
  cursor: pointer;
  font-size: clamp(1rem, 2vw, 5rem);
}

.GFG {
  background-image: url("skullhalo.jpg");
  background-size: cover;
  height: 134px;
  width: 140px;
  background-position: center;
}

.GFG2 {
  /* background-color: rgb(50, 145, 182); Green */
  border: black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: 20px;
  font-size: 16px;
  float: left;
  cursor: pointer;
  font-size: clamp(1rem, 2vw, 5rem);
}

.GFG2 {
  background-image: url("skullhorn.jpg");
  background-size: cover;
  height: 134px;
  width: 140px;
  background-position: center;
}
.section_side {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "darkSide lightSide";
}

.darkSide {
  background: url("hell.jpg");
  background-size: cover;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightSide {
  background: url("heaven.jpg");
  background-size: cover;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
.section_side {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "darkSide"
    "lightSide";
} */
